<a href="https://colab.research.google.com/github/tigermcrae/Fraud-Detection-in-Electricity-and-Gas/blob/main/Fraud_Detection.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [49]:
from ast import increment_lineno
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import warnings

%matplotlib inline
warnings.filterwarnings('ignore')

In [50]:
# Reading traininig data
client_train = pd.read_csv('/content/client_train.csv')
invoice_train = pd.read_csv('/content/invoice_train.csv')

client_test = pd.read_csv('/content/client_test.csv')
invoice_test = pd.read_csv('/content/invoice_test.csv')

In [51]:
invoice_train.describe().transpose()

,count,mean,std,min,25%,50%,75%,max
tarif_type,905088.0,2.013202e+01,1.347833e+01,8.0,11.0,11.0,40.00,4.500000e+01
counter_number,905088.0,1.187276e+11,1.627104e+12,0.0,122485.0,492850.0,1112725.00,2.738110e+13
counter_statue,905088.0,4.221689e-02,3.749131e-01,0.0,0.0,0.0,0.00,5.000000e+00
counter_code,905088.0,1.722914e+02,1.335667e+02,5.0,5.0,203.0,207.00,6.000000e+02
reading_remarque,905088.0,7.316536e+00,1.360196e+00,6.0,6.0,6.0,9.00,9.000000e+00
counter_coefficient,905088.0,1.000274e+00,8.940093e-02,0.0,1.0,1.0,1.00,5.000000e+01
consommation_level_1,905088.0,4.096011e+02,5.904254e+02,0.0,79.0,272.0,600.00,9.888900e+04
consommation_level_2,905088.0,1.080290e+02,1.223991e+03,0.0,0.0,0.0,0.00,8.198860e+05
consommation_level_3,905088.0,2.045359e+01,1.685216e+02,0.0,0.0,0.0,0.00,4.536000e+04
consommation_level_4,905088.0,5.382319e+01,9.897337e+02,0.0,0.0,0.0,0.00,3.435680e+05
old_index,905088.0,1.769799e+04,3.998376e+04,0.0,1783.0,7678.0,21766.25,2.800280e+06
new_index,905088.0,1.826726e+04,4.056822e+04,0.0,2048.0,8178.0,22460.00,2.870972e+06
months_number,905088.0,3.102925e+01,1.944620e+03,1.0,4.0,4.0,4.00,2.853980e+05

In [52]:
print(client_train.shape, invoice_train.shape)

(96907, 6) (905089, 16)

In [53]:
print(client_train.columns, client_test.columns)

Index(['disrict', 'client_id', 'client_catg', 'region', 'creation_date',
       'target'],
      dtype='object') Index(['disrict', 'client_id', 'client_catg', 'region', 'creation_date'], dtype='object')

In [54]:
client_test.describe().transpose()

,count,mean,std,min,25%,50%,75%,max
disrict,58069.0,63.510617,3.356708,60.0,62.0,62.0,69.0,69.0
client_catg,58069.0,11.507224,4.395923,11.0,11.0,11.0,11.0,51.0
region,58069.0,206.018461,104.144028,101.0,103.0,107.0,307.0,399.0

In [55]:
invoice_train.describe().transpose()

,count,mean,std,min,25%,50%,75%,max
tarif_type,905088.0,2.013202e+01,1.347833e+01,8.0,11.0,11.0,40.00,4.500000e+01
counter_number,905088.0,1.187276e+11,1.627104e+12,0.0,122485.0,492850.0,1112725.00,2.738110e+13
counter_statue,905088.0,4.221689e-02,3.749131e-01,0.0,0.0,0.0,0.00,5.000000e+00
counter_code,905088.0,1.722914e+02,1.335667e+02,5.0,5.0,203.0,207.00,6.000000e+02
reading_remarque,905088.0,7.316536e+00,1.360196e+00,6.0,6.0,6.0,9.00,9.000000e+00
counter_coefficient,905088.0,1.000274e+00,8.940093e-02,0.0,1.0,1.0,1.00,5.000000e+01
consommation_level_1,905088.0,4.096011e+02,5.904254e+02,0.0,79.0,272.0,600.00,9.888900e+04
consommation_level_2,905088.0,1.080290e+02,1.223991e+03,0.0,0.0,0.0,0.00,8.198860e+05
consommation_level_3,905088.0,2.045359e+01,1.685216e+02,0.0,0.0,0.0,0.00,4.536000e+04
consommation_level_4,905088.0,5.382319e+01,9.897337e+02,0.0,0.0,0.0,0.00,3.435680e+05
old_index,905088.0,1.769799e+04,3.998376e+04,0.0,1783.0,7678.0,21766.25,2.800280e+06
new_index,905088.0,1.826726e+04,4.056822e+04,0.0,2048.0,8178.0,22460.00,2.870972e+06
months_number,905088.0,3.102925e+01,1.944620e+03,1.0,4.0,4.0,4.00,2.853980e+05

In [69]:
client_train.head()

   disrict          client_id  client_catg  region creation_date  target
0       60     train_Client_0         11.0   101.0    31/12/1994     0.0
1       69     train_Client_1         11.0   107.0    29/05/2002     0.0
2       62    train_Client_10         11.0   301.0    13/03/1986     0.0
3       69   train_Client_100         11.0   105.0    11/07/1996     0.0
4       62  train_Client_1000         11.0   303.0    14/10/2014     0.0

In [68]:
invoice_train.head()

AttributeError: ignored

In [67]:
#Checking null values
client_train.isnull().sum()

disrict          0
client_id        0
client_catg      0
region           0
creation_date    0
target           0
dtype: int64

In [59]:
client_train = client_train.dropna()

In [60]:
client_train.isnull().sum()

disrict          0
client_id        0
client_catg      0
region           0
creation_date    0
target           0
dtype: int64

In [61]:
invoice_train.isnull().sum()

client_id               0
invoice_date            1
tarif_type              1
counter_number          1
counter_statue          1
counter_code            1
reading_remarque        1
counter_coefficient     1
consommation_level_1    1
consommation_level_2    1
consommation_level_3    1
consommation_level_4    1
old_index               1
new_index               1
months_number           1
counter_type            1
dtype: int64

In [62]:
invoice_train = invoice_train.dropna

In [65]:
invoice_train.head()

AttributeError: ignored